.categories{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #2e2e2e;
    
}





.title h3{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    
}

.categoriesWrapper{
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 0;
}


.category{
    color: #fff;
    margin-right: 20px;
    padding: 10px 25px;
    background-color: #333;
    border-radius: 60px;
    transition: all 0.2s linear;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    
}

.category:hover {
    outline: 1px solid #dfb02f;
}