.enter{
    opacity: 0;
 

}
.enterActive{
    opacity: 0;
}

.enterDone{
    opacity: 1;
    transition: all 0.3s linear;
}


.exit{
    opacity: 1;

}

.exitActive{
    opacity: 0;
    transition: all 0.3s linear;
}


.Menu{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 6.5%;
    left: 68%;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: start;
    z-index: 1;

}

.userInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}


.userAvatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.userName h3{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.userName p {
    color: #dfb02f;
}


.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s linear;
    padding: 5px 10px;
}

.link:hover{
    background-color: #4b4b4b;
    border-radius: 6px;
}



.link img{
    width: 30px;
    height: 30px;
}


.link a{
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}