.login{
    display: flex;
    justify-content: center;

}

.loginForm{
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    background-color: #333;
    padding: 40px 20px;
    border-radius: 10px;
}



.inputWrapper{
    display: flex;
    flex-direction: column;
    text-align: start;
}


.inputWrapper label{
    color: #fff;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}

.inputWrapper input{
    padding: 10px 5px;
    background: none;
    border: unset;
    border-bottom: 2px solid #dfb02f;
    color:#fff;
    outline: none;
    font-size: 18px;
    margin-bottom: 20px;
}

.loginBt button{
    background: none;
    border: unset;
    color: #dfb02f;
    border: 2px solid #dfb02f;
    padding: 10px 30px;
    font-weight: 600px;
    font-size: 18px;
    transition: all 0.2s linear;
}

.loginBt button:hover{
    background-color: #dfb02f;
    color: #fff;
}